@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --ff-primary: 'Fraunces', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
}

*,
::after,
::before {
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
    font-family: var(--ff-primary);
    height: 100vh;
}

.container {
    max-width: 23.438em;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    max-width: 22em;
    background-color: white;
}

.card__header {
    background: url('/images/image-product-mobile.jpg');
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    min-height: 235px;
    background-size: cover;

}

.card__body {
    padding: 1.25em;
}

.card__category {
    color: var(--dark-grayish-blue);
    font-weight: 500;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 0.313rem;
    margin-bottom: 1em;
}

.card__name {
    font-size: 2.1rem;
    line-height: 1;
}

.card__description {
    font-family: var(--ff-secondary);
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    font-size: .95rem;
    margin: 1.5em 0;
}

.card__priceWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.938em;
}

.card__price {
    color: var(--dark-cyan);
    font-size: 2rem;
}

.card__price--discount {
    font-size: .8rem;
    font-family: var(--ff-secondary);
    text-decoration: line-through;
    margin-left: 20px;
    color: var(--dark-grayish-blue)
}

.btn-default {
    font-family: var(--ff-secondary);
    background-color: var(--dark-cyan);
    color: #fff;
    border: none;
    display: inline-block;
    width: 100%;
    padding: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.313em;
    font-weight: bold;
    font-size: .8rem;
    border-radius: .5em;
} 

.btn-default:focus,
.btn-default:hover {
    background-color: hsl(157, 40%, 19%);
    color: white;
    cursor: pointer;
}

.btn-default img {
    margin-right: 10px;
}

/* media queries */
@media screen and (min-width: 600px) {
    body {
        font-size: 22px;
    }

    .card {
        max-width: 28.125em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container {
        max-width: 1440px;
    }

    .card__header {
        background: url('/images/image-product-desktop.jpg') no-repeat;
        background-size: cover;
        min-height: 250px;
        width: 100%;
        border-radius: 10px 0 0 10px;

    }

}
